@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Mono|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap");
.homepage {
  /* background-color: #0A192F; */
  /* background: url('https://wallpaperplay.com/walls/full/9/3/b/60600.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  width: 100%;
  margin-top: 5%;
  /* height: 100vh; */
}
.homepage2 {
  height: 100vh;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: right;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a192f;
}
.intro1 {
  margin-top: 8vw;
  margin-left: 8.5%;
  margin-bottom: 2.5vw;
  color: #64ffda;
  font-size: 2.5vmax;
  transition-delay: 100ms;
  font-family: "PT Mono", monospace;
}

h2 {
  color: #ccd6f6;
  font-size: 5.5vw;
  margin-left: 8.5%;
  margin-top: 0;
  font-weight: 9000;
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: "Nunito", sans-serif;
  margin-bottom: 14px;
}
h3 {
  margin-top: 0;
  margin-left: 6.5%;
  font-family: "Nunito", sans-serif;
  line-height: 1.3;
  font-size: 6vw;
  margin-bottom: 15px;
  padding-left: 3.5%;
  color: #64ffda;
}
.para {
  margin-top: 8px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  color: #8892b0;
  margin-left: 8.5%;
  font-size: 2.5vmax;
}
/* header style */
.topnav {
  overflow: hidden;
  margin-right: 3%;
}

.topnav a {
  float: right;
  font-family: "Source Code Pro", sans-serif;
  color: rgb(97, 235, 97);
  text-align: center;
  display: flex;
  /* justify-content:sp; */
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
}
.btnlink {
  float: right;
  font-family: "Source Code Pro", sans-serif;
  color: #64ffda;
  text-align: center;
  display: flex;
  /* justify-content:sp; */
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
}

/* button css part */
.button {
  background-color: #64ffda; /* Green */
  border: none;
  border-radius: 8px;
  padding: 0.00001vw 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  font-family: "Source Code Pro", monospace;
  cursor: pointer;
  background-color: #0a192f;
  color: #64ffda;
  margin-left: 8.5%;
  margin-top: 5vw;
  margin-bottom: 15vw;
  border: 2px solid #64ffda;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus {
  background-color: lightblue;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #64ffda;
  border: none;
  color: #0a192f;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  font-weight: 900;
  font-size: medium;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.form-item {
  padding-top: 1rem;
  padding-bottom: 1.3rem;
  color: #64ffda;
  font-family: "Raleway", sans-serif;
  padding: 16px 32px;
  width: 20%;
  font-weight: 900;
  font-size: medium;
}

a {
  text-decoration: none;
  color: white;
  padding: 2px 3px;
  font-family: "Raleway", sans-serif;
}
.love {
  color: red;
}
